html, body {
    height: 100%;
    /* Para que ocupe el 100% */
}

body {
    margin: 0;
    padding: 0;
    background-image: url(st.jpg);
}

h1, h2, h3, th, td {
    color: #FFFFFF;
}

#wrapper {
    margin: 0px auto 0px auto;
    width: 950px;
    min-height: 100%;
    *height: 100%;
    _height: 100%;
    background-color: black;
    background-position: center top;
    opacity: 0.8;
}
